body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-top: 34px;
  }
  .logo {
    padding-top: 22.5px;
    display: block;
  }
  .nav-link {
    color: #5d5f65;
    font-size: 16px;
    padding: 0.5rem 0.8rem;
  }
  .todo-center {
    width: 100%;
    height: 615px;
    align-items: center;
    display: flex;
  }
  .todo-center h1 {
    color: #141720;
    font-weight: bold;
    font-size: 44px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 17px;
    
  }
  .todo-center h2{
    font-size: 25px;
    line-height: 2.4;
  }
  .dos-col {
    background: #141720;
    padding-top: 145px;
    padding-bottom: 229px;
    color: #fff;
    position: relative;
  }
  .dos-col-image {
    width: 50%;
    height: 700px;
    background: url(../images/Group_image.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
  }
  .dos-col h3{
      margin-bottom: 50px;
      font-size: 28px;
      line-height: 0.92857142857142857142857142857143;
    }
    .dos-col p{
        font-size: 15px;
        line-height: 1.7333333333333333333333333333333;
  }
  
  .linea-tiempo {
    width: 100%;
    height: 511px;
    margin-bottom: 189px;
    display: flex;
  }
  .linea-tiempo ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .vl{
    border-right: 6px solid #d4d4d4;
    height: 492px;
    position: absolute;
    left: 112px;
    margin-left: -3px;
    top: 0;
  }
  #dates1{
    content: '';
  position: absolute;
  top: 152px;
  left: 20px;
  width: 20px;
  height: 20px;

  color: #c71222;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  #dates2{
    content: '';
  position: absolute;
  top: 231px;
  left: 20px;
  width: 20px;
  height: 20px;

  color: #d4d4d4;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  #dates3{
    content: '';
  position: absolute;
  top: 332px;
  left: 20px;
  width: 20px;
  height: 20px;

  color: #d4d4d4;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  #dates4{
    content: '';
  position: absolute;
  top: 492px;
  left: 20px;
  width: 20px;
  height: 20px;

  color: #d4d4d4;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  #c2003{
      content: url(../images/Iconos/Oval.png);
    position: absolute;
    top: 152px;
    left: 102px;
    width: 20px;
    height: 20px;
  }
  #c2006{
    content: url(../images/Iconos/Oval_o.png);
  position: absolute;
  top: 231px;
  left: 102px;
  width: 20px;
  height: 20px;
}
  #c2010{
    content: url(../images/Iconos/Oval_o.png);
  position: absolute;
  top: 332px;
  left: 102px;
  width: 20px;
  height: 20px;
}
  #c2016{
    content: url(../images/Iconos/Oval_o.png);
  position: absolute;
  top: 492px;
  left: 102px;
  width: 20px;
  height: 20px;
}
#info1{
  content: '';
position: absolute;
top: 152px;
left: -60px;
color: #141720;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
#info2{
  content: '';
position: absolute;
top: 231px;
left: -60px;

color: #141720;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
#info3{
  content: '';
position: absolute;
top: 332px;
left: -60px;
color: #141720;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
#info4{
  content: '';
position: absolute;
top: 492px;
left: -60px;
margin-bottom: 105px;

color: #141720;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
  .linea-tiempo h2{
      font-size: 28px;
      margin-top: 142px;
      margin-bottom: 54px;
    }
    
    .linea-tiempo p{
        font-size: 16px;
        line-height: 1.73;
  }
  .opciones{
    background: #fff;
    margin-top: 84px;
}
.opciones{
    background: #979797;
    color: #fff;
    position: relative;
    padding-top: 143px;
    padding-bottom: 140px;
    margin-top: 84px;
}
.servs h2{
  font-family: "Montserrat", sans-serif;
  color: #2B2B2B;
  
}
.ops img{
  padding-top: 80px;
    margin-bottom: 21px;
}
.ops h3{
  color: #141720;
    font-family: "Montserrat", sans-serif;
    line-height: 1.05;
    padding-bottom: 15px;
    font-size: 20px;
}
.ops p{
    font-size: 15px;
    color: #5D5F65;
    line-height: 1;
}
.dos-col-dos {
    background: #141720;
    padding-top: 143px;
    padding-bottom: 240px;
    color: #fff;
    position: relative;
  }
  .dos-col-dos-image {
    width: 50%;
    height: 700px;
    background: url(../images/group_image2.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .dos-col-dos h3{
    padding-bottom: 57px;
    font-size: 28px;
    right: 0;
    line-height: .93;
  }
  .dos-col-dos p{
    font-size: 15px;
    line-height: 1.70;
    right: 0;
  
  }
  .Contacto {
    background: #141720;
    padding-top: 140px;
    padding-bottom: 149.5px;
    color: #fff;
    position: relative;
  }
  .contacto-image {
    width: 50%;
    height: 700px;
    background: url(../images/Map.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
  }
  .Contacto h2{
      font-size: 28px;
      font-family: "Montserrat", sans-serif;
      line-height: .92;
      padding-bottom: 30px;
  }
    .Contacto h3{
        font-size: 15px;
        line-height: 1.72;
        margin-bottom: 0px;
        padding-top: 26px;
  }
  .Message{
      padding-bottom: 130px;
      
  }
.contactB{
  content: url(../images/Iconos/Button.png);
  position: absolute;
  top: 482.5px;
  left: 433px;
  width: 170px;
  height: 50px;
}