:root {
    font-size: 16px;
}

.testimonialscard {
    width: 100px;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

.parte_1 {
    background: url(../imagenes/overlary.png);
    width: 100%;
    height: 815px;
    position: relative;
    font-family: 'Abel', sans-serif;
}

.Logo {
    position: absolute;
    content: url(../imagenes/Travelsy.png);
    margin-left: 44px;
    margin-top: 50px;
}

.nav-link {
    font-family: 'Abel', sans-serif;
    color: #FFFFFF;
    margin-top: 40px;
}

.nav-link:hover {
    color: #ff5200;
}

.textosup h2 {
    margin-top: 11.5em;
    font-size: 14px;
    color: #ffffff;
}

.textosup h1 {
    margin-top: 25px;
    font-size: 5em;
    line-height: 95px;
    color: #ffffff;
}

.line {
    position: absolute;
    margin-top: 20px;
    content: url(../imagenes/RectangleW.png);
}

.parte_1 h3 {
    position: relative;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    margin-top: 50px;
}

.parte_1 h5 {
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    margin-top: 70px;
}

.flechitaimg {
    margin-top: 65px;
}

.tubito {
    margin-bottom: .9em;
    width: 100%;
}

.linepunt {
    width: 100%;
}

.lineInf {
    content: url(../imagenes/RectangleInf.png);
    position: absolute;
    left: 0;
    bottom: 112px;
}

.popular {
    position: relative;
    font-family: 'Abel', sans-serif;
    padding-top: 100px;
}

.popular h4 {
    font-size: 18px;
}

.popular img {
    position: relative;
}


/*---texto de las cartas---*/

.popular h3 {
    position: absolute;
    bottom: 153px;
    font-size: 24px;
    color: #979797;
}

.cartaspersonas h3 {
    position: absolute;
    bottom: 153px;
    font-size: 24px;
    color: #ffffff;
}

.final h3 {
    position: absolute;
    bottom: 140px;
    font-size: 24px;
    color: #979797;
}

.parte_3 {
    font-family: 'Abel', sans-serif;
    background: #F8F8F8;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 6.25em;
}

.parte_3 h2 {
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    color: #9b9b9b;
    margin-bottom: 35px;
}

.parte_3 h1 {
    color: #000000;
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 50px;
}

.imagen_1 {
    background: url(../imagenes/I1_P3.png);
    width: 733px;
}

.imagen_2 {
    width: 100%;
}

.cartaspersonas {
    position: relative;
    width: 100%;
    font-family: 'Abel', sans-serif;
    padding-bottom: 75px;
}

.cartaspersonas h2 {
    font-size: 18px;
    color: #000000;
}

.cartaspersonas p {
    font-size: 13px;
    color: #9b9b9b;
    margin-bottom: 15px;
    margin-left: 5px;
}

.carta8,
.carta9,
.carta10 {
    margin-top: 30px;
}

.parte_5 {
    position: relative;
    background: url(../imagenes/I1_P5.png);
    width: 100%;
    height: 700px;
}

.imagenblanca {
    position: absolute;
    content: url(../imagenes/blanco.png);
    right: 0;
    bottom: 0;
}

.parte_5 h1 {
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    line-height: 40px;
    margin-top: 18.5em;
    margin-right: 78px;
}

.logo p {
    font-family: 'Abel', sans-serif;
    position: absolute;
    font-size: 18px;
    left: 0px;
}

.barra {
    font-size: 13px;
    font-family: 'Abel', sans-serif;
}

.line {
    position: absolute;
    content: url(../imagenes/RectangleW.png);
    color: white;
    top: 612px;
}

.lineInf {
    content: url(../imagenes/RectangleInf.png);
    position: absolute;
    left: 0;
    margin-top: 160px;
}

.filtros h2 {
    font-family: 'Abel', sans-serif;
    font-size: 13px;
}

.acti h1 {
    font-size: 50px;
}

.filtro {
    border: none;
    margin-bottom: 20px;
}

.card {
    background-color: white;
    border: none;
}

.carta1:hover {
    background-color: #f8f8f8;
}

.carta2:hover {
    background-color: #f8f8f8;
}

.carta3:hover {
    background-color: #f8f8f8;
}

.carta4:hover {
    background-color: #f8f8f8;
}

.carta5:hover {
    background-color: #f8f8f8;
}

.carta6:hover {
    background-color: #f8f8f8;
}

.carta7:hover {
    background-color: #f8f8f8;
}

.carta8:hover {
    background-color: #f8f8f8;
}

.carta9:hover {
    background-color: #f8f8f8;
}

.carta10:hover {
    background-color: #f8f8f8;
}

.carta1,
.carta2 {
    margin-top: 105px;
    margin-bottom: 30px;
}

.carta3,
.carta4 {
    margin-bottom: 45px;
}

.filtros {
    font-family: 'Abel', sans-serif;
    font-size: 13px;
    color: black;
}

.btn-info {
    color: black;
    height: 30px;
    background-color: #ffffff;
    border-color: #ffffff;
    margin: 5px;
    border: 0mm;
}

.btn-info:hover {
    background-color: #4a90e2;
    border-color: #4a90e2;
}

.btn-info {
    color: black;
    height: 30px;
    background-color: #ffffff;
    border-color: #ffffff;
    margin: 5px;
    border: 0mm;
}

.btn-info:hover {
    background-color: #4a90e2;
    border-color: #4a90e2;
}

.final {
    position: relative;
    font-family: 'Abel', sans-serif;
}

.final h2 {
    font-size: 18px;
    color: #000000;
}

.final p {
    font-size: 13px;
    color: #9b9b9b;
}

.final button {
    color: black;
    height: 40px;
    width: 150px;
    background-color: #ffffff;
    border-color: #ffffff;
    border: 0mm;
    margin-top: 100px;
    margin-bottom: 100px;
}

.final button:hover {
    background-color: #ff5200;
    border-color: #ff5200;
}

.customers {
    background-color: #f8f8f8;
    height: 100%;
    padding-top: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 3.125em;
}

.testimonialscard {
    font-family: 'Abel', sans-serif;
    width: 100%;
    background-color: #f8f8f8;
}

.testimonialscard h1 {
    font-size: 50px;
    color: #000000;
    margin-top: 45px;
}

.testimonialscard h2 {
    font-size: 50px;
    color: #ff5200;
}

.testimonialscard p {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    color: #9b9b9b;
}

.testimonialstext {
    background-color: #ffffff;
    font-family: 'Abel', sans-serif;
    height: 318px;
}

.testimonialstext p {
    font-size: 16px;
    color: #000000;
}

.testimonialstext h1 {
    font-size: 14px;
    color: #4a4a4a;
}

.testimonialstext h2 {
    position: absolute;
    font-size: 14px;
    bottom: 40px;
    left: 30px;
    color: #4a4a4a;
}

.informacion {
    font-family: 'Abel', sans-serif;
    padding-top: 104px;
    padding-bottom: 64px;
    width: 100%;
}

.informacion h1 {
    color: #000000;
    font-size: 13px;
    margin-bottom: 15px;
}

.informacion h2,
p {
    color: #4a4a4a;
    font-size: 12px;
    margin-bottom: 9px;
}

.help {
    padding-bottom: 45px;
}

.marcas {
    position: relative;
    background-color: #ffffff;
}

.logoT {
    padding-top: 44px;
}

.logos img {
    padding-top: 40px;
    margin-right: 30px;
    padding-bottom: 40px;
}

.cajasdetexto {
    padding-top: 40px;
}

.lineagrissup {
    position: absolute;
    border-top: 1px solid #e4e4e4;
    left: 0;
    width: 100%;
}

.lineagris {
    position: absolute;
    content: url(../Imagenes/lineagris.png);
    left: 0;
    width: 100%;
    top: 100px;
}

.copyright {
    font-family: 'Abel', sans-serif;
    color: #333333;
    padding-top: 50px;
    padding-bottom: 47px;
}

.copyright h1 {
    font-size: 12px;
}

.carta14inf:hover {
    background-color: #f8f8f8;
}

@media (min-width: 320px) and (max-width: 500px) {
    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .Logo {
        display: none;
    }
    .carta2 {
        margin-top: 0em;
    }
    .parte_3 img {
        width: 100%;
    }
    .imagenesequis {
        display: none;
    }
    .nav-item {
        font-size: .9em;
    }
    .nav-link {
        padding: .7em;
    }
    .imgrec img {
        width: 3em;
    }
    .imgshape img {
        width: .8em;
    }
    .textosup {
        margin-left: 10px;
    }
    .textosup h1 {
        font-size: 3em;
        line-height: 1.8em;
    }
    .flechitaimg {
        display: none;
    }
    .parte_1 h3 {
        margin-top: .1em;
    }
    .parte_1 h5 {
        margin-top: 1em;
        margin-bottom: 2.8em;
    }
    .parte_5 h1 {
        margin-top: 17.5em;
    }
    .info {
        margin-top: 2em;
    }
    .testimonialstext {
        margin-bottom: 1em;
    }
}

@media (min-width: 375px) and (max-width: 414px) {
    .imagenesequis {
        display: none;
    }
    .parte_1 h5 {
        margin-top: 7.5em;
        margin-bottom: 3em;
    }
    .parte_1 h3 {
        margin-top: 0em;
    }
    .parte_3 img {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .parte_1 h5 {
        margin-top: 4em;
    }
    .parte_3 img {
        width: 100%;
    }
    .testimonialscard {
        align-items: center;
    }
    .imagenblanca {
        width: 18em;
        height: 11em;
    }
    .parte_5 h1 {
        margin-bottom: 0%;
    }
    .btn-info {
        margin: .25em;
    }
    .popular {
        padding-top: 50px;
    }
    .acti {
        margin-top: 4em;
    }
    .imagenchicas {
        width: 150%;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .contenedor {
        padding-left: 0%;
    }
    .testimonialscard {
        align-items: center;
    }
    .parte_3 img {
        width: 100%;
    }
    .imagenblanca {
        width: 24em;
        height: 11em;
    }
    .offset-lg-6 {
        margin-left: 38%;
    }
}